Примеры составлены по мотивам главы 2 книги Т.Сегаран "Программируем коллективный разум" http://www.symbol.ru/alphabet/613828.html

## Словарь с предпочтениями пользователи-фильмы

In [ ]:
import numpy as np
import pandas as pd
from math import sqrt
from numpy import exp
from math import sqrt

In [1]:
# Словарь кинокритиков и выставленных ими оценок для небольшого набора
# данных о фильмах
critics={'Lisa Rose': {'Lady in the Water': 2.5, 'Snakes on a Plane': 3.5,
 'Just My Luck': 3.0, 'Superman Returns': 3.5, 'You, Me and Dupree': 2.5, 
 'The Night Listener': 3.0},
'Gene Seymour': {'Lady in the Water': 3.0, 'Snakes on a Plane': 3.5, 
 'Just My Luck': 1.5, 'Superman Returns': 5.0, 'The Night Listener': 3.0, 
 'You, Me and Dupree': 3.5}, 
'Michael Phillips': {'Lady in the Water': 2.5, 'Snakes on a Plane': 3.0,
 'Superman Returns': 3.5, 'The Night Listener': 4.0},
'Claudia Puig': {'Snakes on a Plane': 3.5, 'Just My Luck': 3.0,
 'The Night Listener': 4.5, 'Superman Returns': 4.0, 
 'You, Me and Dupree': 2.5},
'Mick LaSalle': {'Lady in the Water': 3.0, 'Snakes on a Plane': 4.0, 
 'Just My Luck': 2.0, 'Superman Returns': 3.0, 'The Night Listener': 3.0,
 'You, Me and Dupree': 2.0}, 
'Jack Matthews': {'Lady in the Water': 3.0, 'Snakes on a Plane': 4.0,
 'The Night Listener': 3.0, 'Superman Returns': 5.0, 'You, Me and Dupree': 3.5},
'Toby': {'Snakes on a Plane':4.5,'You, Me and Dupree':1.0,'Superman Returns':4.0}}

In [3]:
A=np.array(critics)

In [19]:
pd.DataFrame(critics)

,Lisa Rose,Gene Seymour,Michael Phillips,Claudia Puig,Mick LaSalle,Jack Matthews,Toby
Lady in the Water,2.5,3.0,2.5,NaN,3.0,3.0,NaN
Snakes on a Plane,3.5,3.5,3.0,3.5,4.0,4.0,4.5
Just My Luck,3.0,1.5,NaN,3.0,2.0,NaN,NaN
Superman Returns,3.5,5.0,3.5,4.0,3.0,5.0,4.0
"You, Me and Dupree",2.5,3.5,NaN,2.5,2.0,3.5,1.0
The Night Listener,3.0,3.0,4.0,4.5,3.0,3.0,NaN

In [20]:
critics['Toby']

{'Snakes on a Plane': 4.5, 'You, Me and Dupree': 1.0, 'Superman Returns': 4.0}

In [21]:
critics['Lisa Rose']['Lady in the Water']

2.5

In [23]:
#вычисление расстояния Евклида
sqrt(pow(5-4,2)+pow(4-1,2))

3.1622776601683795

In [24]:
#вычисление сходства
1/(1+sqrt(pow(5-4.5,2)+pow(5-5,2)))

0.6666666666666666

In [25]:
exp(-0.3*sqrt(pow(5-4.5,2)+pow(5-5,2)))

0.8607079764250578

In [26]:
from math import sqrt
# Возвращает сходство person1 и person2 на основе расстояния
def sim_distance(prefs,person1,person2):
# Получить список предметов, оцененных обоими
    si={}
    for item in prefs[person1]:
        if item in prefs[person2]:
            si[item]=1
# Если нет ни одной общей оценки, вернуть 0
    if len(si)==0: return 0
# Сложить квадраты разностей/
    sum_of_squares=sum([pow(prefs[person1][item]-prefs[person2][item],2)
    for item in prefs[person1] if item in prefs[person2]])
    return 1/(1+sum_of_squares)

In [13]:
# Возвращает сходство person1 и person2 на основе расстояния
def sim_kernel(prefs,person1,person2,alpha=0.3):
# Получить список предметов, оцененных обоими
    si={}
    for item in prefs[person1]:
        if item in prefs[person2]:
            si[item]=1
# Если нет ни одной общей оценки, вернуть 0
    if len(si)==0: return 0
# Сложить квадраты разностей
    sum_of_squares=sum([pow(prefs[person1][item]-prefs[person2][item],2)
    for item in prefs[person1] if item in prefs[person2]])
    return exp(-alpha*sum_of_squares)

In [27]:
sim_kernel(critics, 'Lisa Rose','Toby')

0.3499377491111553

In [28]:
sim_distance(critics, 'Lisa Rose','Toby')

0.2222222222222222

In [29]:
# Возвращает коэффициент корреляции Пирсона между p1 и p2
def sim_pearson(prefs,p1,p2):
# Получить список предметов, оцененных обоими
    si={}
    for item in prefs[p1]: 
        if item in prefs[p2]: si[item]=1

    # Если нет ни одной общей оценки, вернуть 0
    if len(si)==0: return 0

    # Количество соместно оцененных фильм
    n=len(si)
  
    # Вычислить сумму всех предпочтений
    sum1=sum([prefs[p1][it] for it in si])
    sum2=sum([prefs[p2][it] for it in si])
  
    # Вычислить сумму квадратов
    sum1Sq=sum([pow(prefs[p1][it],2) for it in si])
    sum2Sq=sum([pow(prefs[p2][it],2) for it in si])	
  
    # Вычислить сумму произведений
    pSum=sum([prefs[p1][it]*prefs[p2][it] for it in si])
  
    # Вычислить коэффициент Пирсона
    num=pSum-(sum1*sum2/n)
    den=sqrt((sum1Sq-pow(sum1,2)/n)*(sum2Sq-pow(sum2,2)/n))
    if den==0: return 0

    r=num/den

    return r

In [31]:
sim_pearson(critics,'Lisa Rose','Gene Seymour'), \
sim_distance(critics, 'Lisa Rose','Gene Seymour')

(0.39605901719066977, 0.14814814814814814)

Кроме приведенных выше мер сходства, часто используют косинусную схожесть, которая определяется как $$\frac{(x,y)}{|x||y|},$$
где $(x,y)$ -- скалярное произведение, а $|x|$ -- длина вектора $x$.
Реализуйте функцию вычисляющую косинусную схожесть.

In [33]:
from numpy import dot
from numpy.linalg import norm
List1 = [4, 47, 8, 3]
List2 = [3, 52, 12, 16]
result = dot(List1, List2)/(norm(List1)*norm(List2))
print(result)

0.9720951480078084

In [40]:
df_critics = pd.DataFrame(critics)
df_critics

,Lisa Rose,Gene Seymour,Michael Phillips,Claudia Puig,Mick LaSalle,Jack Matthews,Toby
Lady in the Water,2.5,3.0,2.5,NaN,3.0,3.0,NaN
Snakes on a Plane,3.5,3.5,3.0,3.5,4.0,4.0,4.5
Just My Luck,3.0,1.5,NaN,3.0,2.0,NaN,NaN
Superman Returns,3.5,5.0,3.5,4.0,3.0,5.0,4.0
"You, Me and Dupree",2.5,3.5,NaN,2.5,2.0,3.5,1.0
The Night Listener,3.0,3.0,4.0,4.5,3.0,3.0,NaN

In [42]:
def cosine_sim(dict, user_1, user_2):
    df = pd.DataFrame(dict)
    List1 = df[user_1]
    List2 = df[user_2]
    result = dot(List1, List2)/(norm(List1)*norm(List2))
    return(result)
cosine_sim(critics, 'Lisa Rose','Gene Seymour')

0.9606463013980241

## Ранжирование критиков

In [74]:
# Возвращает список наилучших соответствий для человека из словаря prefs.
# Количество результатов в списке и функция подобия – необязательные
# параметры.
def topMatches(prefs,person,n=5,similarity=sim_pearson):
    df = pd.DataFrame(prefs)
    df = df.drop(columns=[person])
    best_match = {}
    for other in df.columns:
        best_match[other] = similarity(prefs, person, other)
        best_match = pd.DataFrame(best_match, index=["sim"])
    return(best_match.transpose().head(n))

In [75]:
topMatches(critics,'Toby',n=3, similarity=sim_distance)

                       sim
Lisa Rose         0.222222
Gene Seymour      0.108108
Michael Phillips  0.285714

In [76]:
topMatches(critics,'Toby',n=3, similarity=sim_kernel)

                       sim
Lisa Rose         0.349938
Gene Seymour      0.084163
Michael Phillips  0.472367

## Рекомендация фильмов (User-based подход)
Базовая идея:
Мы уже научились сравнивать пользователей и находить наиболее похожих. Давайте выберем самых похожих пользователей и усредним их оценки с весами равными этой похожести.

In [124]:
prefs = critics
person = "Toby"
similarity = sim_pearson
df = pd.DataFrame(prefs)
person_df = df[person]
df = df.drop(columns=[person])
others = df.columns
df = df.transpose()
for index, row in df.iterrows():
    df.at[index, 'sim'] = similarity(prefs, person, index)
weighted_avg = {}
for column in df.columns:
    ranking = weighted_avg[column] = (df[column] * df.sim).mean()

{'Lady in the Water': 1.1767616682809368,
 'Snakes on a Plane': 1.8799854515882704,
 'Just My Luck': 2.0186885264603904,
 'Superman Returns': 1.9228100751192727,
 'You, Me and Dupree': 2.0429790922924767,
 'The Night Listener': 1.483291976412115,
 'sim': 0.7033499446290143}

In [122]:
(df['Lady in the Water'] * df.sim).mean()

1.1767616682809368

In [125]:
# Получить рекомендации для заданного человека, пользуясь взвешенным средним
# оценок, данных всеми остальными пользователями
def getRecommendations(prefs,person,similarity=sim_pearson):
#Ваш код здесь
    df = pd.DataFrame(prefs)
    person_df = df[person]
    df = df.drop(columns=[person])
    others = df.columns
    df = df.transpose()
    for index, row in df.iterrows():
        df.at[index, 'sim'] = similarity(prefs, person, index)
    weighted_avg = {}
    for column in df.columns:
        weighted_avg[column] = (df[column] * df.sim).mean()
    rankings = weighted_avg
    return (rankings)

In [126]:
getRecommendations(critics,'Toby')

{'Lady in the Water': 1.1767616682809368,
 'Snakes on a Plane': 1.8799854515882704,
 'Just My Luck': 2.0186885264603904,
 'Superman Returns': 1.9228100751192727,
 'You, Me and Dupree': 2.0429790922924767,
 'The Night Listener': 1.483291976412115,
 'sim': 0.7033499446290143}

In [127]:
getRecommendations(critics,'Toby', sim_kernel)

{'Lady in the Water': 0.8303833321821192,
 'Snakes on a Plane': 1.119141344026896,
 'Just My Luck': 0.8314869086560002,
 'Superman Returns': 1.1436858011089572,
 'You, Me and Dupree': 0.6999211699535981,
 'The Night Listener': 1.122133492601984,
 'sim': 0.12754888768351855}